h1,h2,h3,h4{
    color: aqua;
    background-color: blue;
    width: 20%;
    text-align: center;
    padding: 20px;
    display: inline-block;
    border: 2px solid;
    border-radius: 0px 20px;
    margin: 20px;
    box-shadow: 0px 0px 20px black;
}