p{
    border: 1px solid gray;
    width: 25%;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    margin: 30px; 
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    box-shadow: 0px 1px 15px;

}
.c1{
    background: linear-gradient(90deg,red,grey);
}
#id1{
    background: linear-gradient(45deg,black,green);
}
.c2{
    background: linear-gradient(125deg,black,gray);
}